<%= render "shared/header" %>
  
  <%# My投稿一覧 %>
  <div class='my-post-contents'>

    <%# 検索フォーム部分 %>
    <%= form_with(url: search_posts_path, method: :get, class: "my-search-form", local: true) do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "input-box" %>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
    <%# /検索フォーム部分 %>

    <h2 class='title'>My Post List</h2>
    <ul class='post-list'>
      <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id), method: :get do %>
        <div class='post-img-content'>
          <%= image_tag post.image, class: "post-img" %>
        </div>
        <div class='post-info'>
          <h3 class='post-name'>
            <%= post.name %>
          </h3>
          <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
            <p class='star-count'>0</p>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
    <%= link_to 'New Post', new_post_path, class: "subtitle" %>
  </div>
  <%# /My投稿一覧 %>

<%= render "shared/footer" %> 