<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to 'TRIP SHARES', "/", class: "title" %>
  </div>
  <div class='navbar'>
    <ul class='lists'>
      <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
      <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'LOGIN', new_user_session_path, class: "login" %></li>
      <li><%= link_to 'NEW USER REGISTRATION', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>