<header class='second-header'>
  <h1>
    <%= link_to 'TRIP SHARES', "/", class: "maintitle" %>
  </h1>
  <div class="second-header-list">
    <ul>
      <li><%= link_to 'ABOUT', "#", class: "second-header-list1" %></li>
      <li><%= link_to 'SERVICE', "#" , class: "second-header-list2" %></li>
      <li><%= link_to 'COMPANY', "#", class: "second-header-list3" %></li>
      <li><%= link_to 'CONTACT', "#", class: "second-header-list4" %></li>
    </ul>
  </div>
</header>