<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部のタイトル部分 %>
  <div class="title_messages">
    <h1 class="title_message">Welcome to <span>TRIP SHARES.</span></h1>
      <p class="sub_messages">
        さぁ、旅を分かち合おう
      </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部のタイトル部分 %>

  <%# 投稿一覧 %>
  <div class='post-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワード検索'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
    <h2 class='title'>Post list</h2>
    <ul class='post-lists'>
      <% @post.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id), method: :get do %>
        <div class='post-img-content'>
          <%= image_tag post.image, class: "post-img" %>
        </div>
        <div class='post-info'>
          <h3 class='post-name'>
            <%= post.name %>
          </h3>
          <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
            <p class='star-count'>0</p>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>

      <%# 投稿がない場合のダミー %>
      <% unless @post.present? %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "post-img" %>
        <div class='post-info'>
          <h3 class='post-name'>
            Let's post！
          </h3>
          <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
            <p class='star-count'>0</p>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
      <%# /投稿がない場合のダミー %>

    </ul>
    <%= link_to 'New Post', new_post_path, class: "subtitle" %>
  </div>
  <%# /投稿一覧 %>

  <div class="container">
    <div class="inner-block">
      <div class="fade-img-box">
        <img src="/images/sakura.jpg" alt="No image">
        <img src="/images/sea.jpg" alt="No image">
        <img src="/images/koyo.jpg" alt="No image">
        <img src="/images/shirakabago.jpg" alt="No image">
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %> 