<div class="posts-contents">
  <header class="posts-header">
    <%= link_to 'TRIP SHARES', "/", class: "title" %>

  </header>
  <div class="posts-main">
    <h2 class="posts-title">Post information</h2>
    <%= form_with model: @post, local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%# render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 投稿画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        投稿画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"post-image" %>
      </div>
    </div>
    <%# /投稿画像 %>

    <%# 旅先の名前と説明 %>
    <div class="new-posts">
      <div class="weight-bold-text">
        旅先の名前
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"posts-text", id:"post-name", placeholder:"旅先（必須 40文字まで)", maxlength:"40" %>
      <div class="posts-explain">
        <div class="weight-bold-text">
          旅先の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :description, class:"posts-text", id:"post-description", placeholder:"旅先の情報や思い出（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /旅先の名前と説明 %>

    <%# 旅の詳細 %>
    <div class="posts-detail">
      <div class="weight-bold-text">旅の情報</div>
      <div class="form">
        <div class="weight-bold-text">
          メンバー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:member_id, Member.all, :id, :name, {}, {class:"select-box", id:"post-member"}) %>
        <div class="weight-bold-text">
          交通手段
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:transportation_id, Transportation.all, :id, :name, {}, {class:"select-box", id:"post-transportation"}) %>
        <div class="weight-bold-text">
          満足度
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:satisfaction_level_id, SatisfactionLevel.all, :id, :name, {}, {class:"select-box", id:"post-satisfaction"}) %>
        <div class="weight-bold-text">
          都道府県
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"post-prefecture"}) %>
      </div>
    </div>
    <%# /旅先の詳細 %>

    <%# 下部ボタン %>
    <div class="post-btn-contents">
      <%= f.submit "post" ,class:"post-btn" %>
      <%=link_to 'back', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>
  </div>

  <footer class="posts-footer">
  </footer>
</div>