<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="post-show">
  <div class="post-box">
    <div class='post-img-content'>
      <div class="nickname">
        <%= @post.user.nickname %>
      </div>
      <div class="name">
        <%= @post.name %>
      </div>
      <%= image_tag @post.image ,class:"post-box-img" %>
    </div>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>いいね！ 0</span>
      </div>
    </div>
    <div class="posting">
      <div class="post-name">
        <%= @post.user.nickname %>
      </div>
      <div class="post-description">
        <%= @post.description %>
      </div>
    </div>
        
    <div class="post-explain-box">
      <span><%= "SHARE INFORMATION" %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">メンバー</th>
          <td class="detail-value"><%= @post.member.name %></td>
        </tr>
        <tr>
          <th class="detail-post">交通手段</th>
          <td class="detail-value"><%= @post.transportation.name %></td>
        </tr>
        <tr>
          <th class="detail-post">満足度</th>
          <td class="detail-value"><%= @post.satisfaction_level.name %></td>
        </tr>
        <tr>
          <th class="detail-post">都道府県</th>
          <td class="detail-value"><%= @post.prefecture.name %></td>
        </tr>
      </tbody>
    </table>
    
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to 'EDIT', edit_post_path(@post.id), method: :get, class: "post-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to 'DELETE', post_path, method: :delete, class:'post-destroy' %>
    <% end %>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, class:"comment-text", placeholder: "コメントする" %>
        <%= form.submit "SEND", class:"comment-btn" %>
      <% end %>
    <% else %>
      <strong><p class="attention">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comment-sub-box">
      <h4>＜COMMENT＞</h4>
      <div class="comments">
        <% if @comment %>
          <% @comments.each do |comment| %>
            <div class="comment-list">
              <strong><%= link_to comment.user.nickname, "#" %>：</strong>
              <%= comment.text %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
